form {
    width: 30rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    
}

fieldset {
    display: flex;
    flex-direction: column;
}

input {
    border: 2px solid black;
    outline: 1px solid black;

}

input:not(:placeholder-shown):invalid {
    border: 2px solid red;
}

input:valid {
    border: 2px solid rgb(0, 231, 0)
}

button {
    position: relative;
    left: 0.1rem;
    background-color: rgb(0, 253, 169);
}